# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Bytz Daemon SNAP
Comment=testnet
GenericName=Bytz Digital Currency Daemon Client testnet network
Exec=bytzcore.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/bytzd_testnet.png
MimeType=x-scheme-handler/bytz;
Categories=X-Finance;X-Games;
Keywords=internet;bytz;xbytz;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
