# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Bytz SNAP testnet
Comment=testnet
GenericName=Bytz Digital Currency QT client testnet network
Exec=bytzcore.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/bytz_testnet.png
MimeType=x-scheme-handler/bytz;
Categories=X-Finance;X-Games;
Keywords=internet;bytz;xbytz;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
